.formUpdate {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
  }
  
  .inputProduct,
  .textArea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  .updateButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .updateButton:hover {
    background-color: #0056b3;
  }
  