@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');




/* banner */
/* .img-slider { */
    /* display: flex; */
    /* position: relative; */
    /* width: 1800px; Adjusted to match image width */
    /* height: 400px; Adjusted to match image height */
     /* Added transition for sliding effect */

  /* } */

  .img-slider img {
    height: 720px;
    width: 1380px;
  }
  @keyframes slide {
    0% {
      left: 0px;
    }
    15% {
      left: 0px;
    }
    20% {
      left: -1080px;
    }
    32% {
      left: -1080px;
    }
    35% {
      left: -2160px;
    }
    47% {
      left: -2160px;
    }
    50% {
      left: -3240px;
    }
    63% {
      left: -3240px;
    }
    66% {
      left: -4320px;
    }
    79% {
      left: -4320px;
    }
    82% {
      left: -5400px;
    }
    100% {
      left: 0px;
    }
  }
  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 800px;
    height:400px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
  }
  
  
  .section1 {
    width: 1280px;
    height: 360px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 10px ;
  }
  
  
   

/* CSS for navigation dots */
.navigation-dots {
  display: flex;
  justify-content: center;
  align-items: center; /* Align dots vertically centered */
  margin-top: 10px; /* Adjust margin as needed */
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* banner */






body {
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
}
/* Styling for the product boxes */
.product-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.product {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-title {
    font-size: 1.1rem;
    margin: 10px 0;
}

.product-description {
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    background-color: rgb(97 59 96);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #783b7d;
}
