/* cart.css */
.cart-container {
  max-height: 400px; /* Set a maximum height for the cart container */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  padding: 10px;
}

.cart-items {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.cart-items li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart-items li img {
  width: 100px; /* Adjust image size as needed */
  height: auto;
  margin-right: 20px;
}

.cart-items li > div {
  flex: 1;
}

.cart-items li h2 {
  margin-top: 0;
}

.cart-items li p {
  margin-bottom: 5px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  color: black;
}

.cart-item-quantity button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 5px;
}

.cart-item-quantity span {
  margin: 0 10px;
  
}
