/* Container for the entire product details section */
.product-details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* Container for the product thumbnails */
.thumbnails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Add some space between thumbnails and main image */
}

/* Individual thumbnail styles */
.thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 10px; /* Add space between thumbnails */
}

/* Thumbnail hover effect */
.thumbnail:hover {
    border: 2px solid rgb(97 59 96);
}

/* Container for the main product images */
.product-images {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main product image styles */
.main-image {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Container for the product information */
.product-info {
    flex: 1;
    padding: 20px;
}

/* Styles for the product title */
.product-info h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Styles for the product description, price, details, and additional information */
.product-description,
.product-price,
.product-details,
.about-item {
    margin-bottom: 20px;
}

/* Container for the purchase buttons */
.purchase-buttons {
    display: flex;
    gap: 20px;
}

/* Styles for the "Add to Cart" and "Buy Now" buttons */
.add-to-cart-btn,
.buy-now-btn {
    background-color: rgb(97 59 96);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover effect for the buttons */
.add-to-cart-btn:hover,
.buy-now-btn:hover {
    background-color: #783b7d;
}
