.order-container {
    max-width: 60%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    margin-top: 30px;
}

/* Adjust max-width and padding for smaller screens */
@media (max-width: 768px) {
    .order-container {
        max-width: 80%;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .order-container {
        max-width: 95%;
        padding: 10px;
    }
}

.order-container h4 {
    text-align: center;
    font-size: 2.5rem;
    margin-left: -10px;
}

/* Adjust font-size for smaller screens */
@media (max-width: 768px) {
    .order-container h4 {
        font-size: 2rem;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .order-container h4 {
        font-size: 1.5rem;
        margin-left: 0;
    }
}

.trackButton {
    padding: 6px 10px;
    font-size: 0.9rem;
    background-color: #3f1c44;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
}

/* Adjust padding and font-size for smaller screens */
@media (max-width: 768px) {
    .trackButton {
        padding: 5px 8px;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .trackButton {
        padding: 4px 6px;
        font-size: 0.7rem;
    }
}
